
  .wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    margin: auto;
    align-items: center;
  }
  .sliderr {
    height: 17rem;
    position: relative;
    display: flex;
    overflow: hidden;
  }
  
  .itemm {
    font-weight: bold;
    margin: 1rem;
  }
  

  
  .next,
  .prev {
    font-family: monospace;
    font-size: 5rem;
    background: none;
    border: 0px;
    cursor: pointer;
    display: flex;
    align-items: center;
    color: rgb(100,100,100, 0.5);
  }
  .prev{
    transform: rotate(-180deg);
  }
  .next:hover{
    text-shadow: 2px 2px 2px rgb(200,200,200);
  }
  .prev:hover{
    text-shadow: 2px -2px 2px rgb(200,200,200);
  }
  
  .itemm {
    flex: 1 0 25%;
    min-height: 200px;
    text-align: center;
    height: auto;
  }
  .div-img-card{
    background-color: black;
    height: 14rem;
    margin-left: 40px;
    width: 325px;
    height: 200px;
    color: white;
    font-size: 20px;
    

  }
  
  @media (max-width: 1024px) {
    .itemm {
      flex: 1 0 33%;
    }
  }
  @media (max-width: 768px) {
    .itemm {
      flex: 1 0 50%;
    }
  }
  @media (max-width: 576px) {
    .itemm {
      flex: 1 0 100%;
    }
  }
  